/*stili per il layout fisso con background*/
html,body{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial,sans-serif;
    font-size: 76%;
}

/* URLs */
a:link, a:visited, a:active, a:hover {
    color: #0000ff;
}

/* Generic div styles */
div.left{
    float:left;
}

div.right{
    float:right;
}

/*stili specifici per il layout*/
div.header{
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

div.navigation{
    float: left;
    width: 140px;
    margin: 0 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    border-right: 2px solid #E5ECF9;
    font-weight:bold;
    font-size:120%;
}

div.content{
    margin: 2px 2px 2px 160px;
    padding: 2px 2px 2px 2px;
}

div.footer{
    clear: both; 
    text-align: center; 
    margin: 2px 2px 2px 2px;
    padding: 20px 2px 2px 2px;
}

div.add{
    float:right;
    font-size: 120%;
    font-weight: bold;
    padding: 0px 50px 0px 0px;
}

div.title{
    float:left;
    font-size: 200%;
    font-weight: bold;
}

.edit {
    background-color: #E5ECF9;
}

div.flash {
    position: absolute;
    float: right;
    padding: 10px;
    top: 0px;
    right: 0px;
    opacity: 0.75;
    margin: 10px 10px 10px 10px;
    text-align: center;
    clear: both;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #E5ECF9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 2;
}

table.smarttable {
    width: 100%;
}

th {
    background-color:#DFDFFF;
}

td {
    background-color:#EFEFFF;
    text-align:center;
}

tr.odd td{
    background-color: #E9E9FF;
}
