<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
    <head>
        <title>{{=response.title or request.application}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {{#------  require CSS and JS files for this page (read info in base.css) ------}}
        {{response.files.append(URL(request.application,'static','base.css'))}}
        {{response.files.append(URL(request.application,'static','superfish.js'))}}
        {{#------ include web2py specific js code (jquery, calendar, form stuff) ------}}
        {{include 'web2py_ajax.html'}}
    </head>
    <body>
        <div class="header"><img src="{{=URL(request.application,'static','images/logo.png')}}"/></div>
        <div class="navigation">{{=MENU(response.menu)}}</div>
        <div class="content">
            <div class="flash">{{=response.flash or ''}}</div>
            {{include}}
        </div>
        <div class="footer">{{=T("Grimp Informative System")}}<br />{{=T("Version 0.1 beta1.")}}<br />{{=T("Powered by Fabio Alessandro Locati.")}}</div>
    </body>
</html>
