{{extend 'layout.html'}}
<div class="title">{{=T("List Users")}}</div>
<div class="add">{{=A(T("Add User"),_href=URL(request.application,"users","add"))}}</div>
<table class="smarttable">
<thead>
    <tr>
      <th width="16px"></th>
      <th>{{=T("User")}}</th>
      <th>{{=db.auth_user.employed.label}}</th>
      <th>{{=db.auth_user.montly.label}}</th>
      <th>{{=T("Hours")}}</th>
    </tr>    
</thead>
<tbody>
{{for k,row in enumerate(rows):}} 
    <tr class="{{='odd' if k%2 else 'even'}}">
       <td>{{=A(IMG(_src=URL(request.application,'static/images','edit.png')),_href=URL(request.application,"users","edit", args=[row.id]))}}</td>
       <td>{{=row.first_name}} {{=row.last_name}}</td>
       <td>{{=row.employed}}</td>
       <td>{{=row.montly}}</td>
       <td>{{=A(T("View"),_href=URL(request.application,"hours","index", vars=dict(u=row.id)))}}</td>
    </tr>
{{pass}}
</tbody>
</table>
