{{extend 'layout.html'}}
<table class="smarttable">
<thead>
    <tr>
      <th width="16px"></th>
      <th>{{=db.customers.name.label}}</th>
      <th>{{=db.customers.piva.label}}</th>
      <th>{{=db.customers.email.label}}</th>
      <th>{{=db.customers.mobile.label}}</th>
      <th>{{=db.customers.phone.label}}</th>
      <th>{{=T("Works")}}</th>
    </tr>    
</thead>
<tbody>
{{for k,row in enumerate(rows):}} 
    <tr class="{{='odd' if k%2 else 'even'}}">
       <td>{{=A(IMG(_src=URL(request.application,'static/images','edit.png')),_href=URL(request.application,"customers","edit", args=[row.id]))}}</td>
       <td>{{=row.name}}</td>   
       <td>{{=row.piva}}</td>   
       <td>{{=row.email}}</td>   
       <td>{{=row.mobile}}</td>   
       <td>{{=row.phone}}</td>
       <td>{{=A(T("View"),_href=URL(request.application,"works","index", vars=dict(c=row.id)))}}</td>
    </tr>
{{pass}}
</tbody>
</table>
